@{
    ViewData["Title"] = "Главная страница";
}
@model bool
<h2>Работают кнопки: Вход(Регистрация, вход), телефоны, корзина при добавлении товара и поисковая строка</h2>
<h2>Вид сайта я взял</h2>
@if(Model)
{
    <h2>Авторизован</h2>
}
else
{
<h2>Не авторизован</h2>
}
